*{
	margin:0;
	padding: 0; 
	box-sizing: border-box;
}

body{
	background: #f2f2f2;
	font-family: "Open Sans", Sans-serif;
	font-size: 17px;
}

.contenedor{
	width: 85%;
	max-width: 1000px;
	margin:auto;
}

 .trabajos{
	background: #fff;
	text-align: center;
	margin-top: 100px;
	width: 600px;
	margin: 40px auto;
	padding: 60px 0;
	border-radius: 6px 6px 0 0;
}

.trabajos .contenedor{
	overflow: hidden;
}

.trabajos .titulo{
	font-size: 34px;
	line-height: 34px;
	margin-bottom: 70px;
	font-weight: 300;
	color: #323068;
	text-align: center;

}

.trabajos .formulario{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;

}

.trabajos .formulario input[type="text"],
.trabajos .formulario textarea{
	margin: auto;
	margin-bottom: 20px;
	padding: 25px 10px;
	font-family: Arial, Sans-serif;
	font-size: 18px;
	border-radius: 5px;
}

.trabajos .formulario input[type="text"]:focus,
.trabajos .formulario textarea:focus{
	border: 2px solid #3895ea;
}

.trabajos .formulario input[type="text"]{
	width: 80%;
	margin-bottom: 15px;
}

.trabajos .formulario textarea{
	width: 50%;
	height: 130px;
	min-width: 80%;
	max-width: 50%;
	min-height: 100px;
	max-height: 300px;
	margin-bottom: 15px;
}

.trabajos .formulario .sel{
	margin: auto;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.trabajos .formulario .modulo{
	border-radius: 3px;
	padding: 5px 10px;
	font-size: 16px;
}
.trabajos .formulario .prioridad{
	border-radius: 3px;
	padding: 5px 10px;
	font-size: 16px;
}

.trabajos .formulario .error{
	display: none;
	margin-top: 20px;
	border-radius: 3px;
	background: #ce1818;
	color: #fff;
	padding: 15px 10px;
	padding-left: 40px;
}

.trabajos .formulario .boton{
	width: 100%;
	text-align: center;
	background: #340923;
	color: #fff;
	border: none;
	display: block;
	padding: 25px 10px;
	cursor: pointer;
	border-radius: 6px 6px 0 0;
	font-family: Arial,Sans-serif;
	font-size: 18px;
	margin-top: 50px;
}

.trabajos .formulario .boton:hover{
	background: #570F3A;
}



@media screen and (max-width: 1500px){
	header .menu{
		text-align: center;
	}

	.trabajos .contenedor-trabajos .trabajo{
		width: 46%;
	}
}

@media screen and (max-width: 800px){
	header .contenedor-texto .texto .nombre{
		font-size: 35px;
	}

	header .contenedor-texto .texto .profesion{
		font-size: 18px;
	}

	footer .redes-sociales a{
		flex-wrap: wrap;
		padding: 20px 0;	
			 
	}


}