*{
	box-sizing: border-box;
}

body{
	background: #fff;
	font-family: "Open Sans", Sans-serif;
	font-size: 16px;
}

.contenedor{
	width: 90%;
	max-width: 1000px;
	margin:auto;
	overflow: hidden;/*oculta el contenido sobrante*/
}

 .trabajos{
	background: #f2f2f2;
	text-align: center;
	margin: auto;
	margin-top: 100px;
	width: 900px;
	padding: 60px 0;
}

.trabajos .contenedor{
	overflow: hidden;
}

div p{
	margin-bottom: 50px;
}

.trabajos .titulo{
	font-size: 34px;
	line-height: 34px;
	margin-bottom: 100px;
	font-weight: 300;
	color: #323068;
	text-align: center;

}

.trabajos .formulario{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.trabajos .formulario input[type="text"],
.trabajos .formulario textarea{
	border: 2px solid #cecece;
	border-radius: 5px;
	padding: 15px 20px;
	font-size: 20px;
	margin-left:10px;
	color: #a4a4a4;
}

.trabajos .formulario input[type="text"]:focus,
.trabajos .formulario textarea:focus{
	border: 2px solid #3895ea;
}

.trabajos .formulario input[type="text"]{
	width: 49%;
	margin-bottom: 15px;
}

.trabajos .formulario textarea{
	width: 100%;
	height: 150px;
	min-width: 100%;
	max-width: 100%;
	min-height: 100px;
	max-height: 300px;
	margin-bottom: 15px;
}

.trabajos .formulario .boton{
	margin: auto;
	background: #3895ea;
	color: #fff;
	border:none;
	border-radius: 3px;
	padding:15px 40px; 
	cursor: pointer;
	font-size: 25px;
}

.trabajos .formulario .boton:hover{
	background: #387bea;
}





footer .redes-sociales{
	background: #1e2b38;
	padding:60px 0;
}

footer .redes-sociales .contenedor{
	display: flex;
	justify-content: center;
}

footer .redes-sociales a{
	color: #fff;
	text-align: center;
	width: 100px;
	display: block;
	padding: 15px 0;
	border-radius: 3px;
	font-size: 40px;
}

footer .redes-sociales .twitter:hover{background: #1da1f2;}
footer .redes-sociales .facebook:hover{background: #3b5998;}
footer .redes-sociales .youtube:hover{background: #cd201f;}
footer .redes-sociales .github:hover{background: #666666;}
footer .redes-sociales .instagram:hover{background: #3f729b;}


@media screen and (max-width: 1500px){
	header .menu{
		text-align: center;
	}

	.trabajos .contenedor-trabajos .trabajo{
		width: 46%;
	}
}

@media screen and (max-width: 800px){
	header .contenedor-texto .texto .nombre{
		font-size: 35px;
	}

	header .contenedor-texto .texto .profesion{
		font-size: 18px;
	}

	footer .redes-sociales a{
		flex-wrap: wrap;
		padding: 20px 0;	
			 
	}


}